@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .btn-post {
    @apply text-xl hover:scale-110 transition-transform ease-out duration-200 cursor-pointer;
  }
}
